{% extends "reservations/base.html" %}

{% block title %}Booking Form | SkyBook{% endblock %}

{% block content %}
<h2>Booking form</h2>

<form method="post" action="{% url 'reservations:booking_submit' %}">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div>
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
        </div>
    {% endfor %}

    <button type="submit">Submit</button>
</form>
{% endblock %}
